@page
@model BaltaTest.Pages_Contas.InsereModel

@{
    ViewData["Title"] = "Insere";
}

<h1>Insere</h1>

<h4>Conta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Conta.Nome" class="control-label"></label>
                <input asp-for="Conta.Nome" class="form-control" />
                <span asp-validation-for="Conta.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conta.Descricao" class="control-label"></label>
                <input asp-for="Conta.Descricao" class="form-control" />
                <span asp-validation-for="Conta.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Principal">Back to List</a>
</div>

